<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %} - Concerto CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}{% endblock %}
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="{{ asset('css/web.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    <div class="main-container">
    {% include ':_Partials:mainmenu.html.twig' %}
    {% block content %}{% endblock %}
    </div>
    {% include ':_Partials:footer.html.twig' %}
{% endblock %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>