{% extends '::base.html.twig' %}
{% block title document.title %}
{% block content %}

    {% if document.header is defined and document.header is not empty %}
    <header class="jumbotron">
        <div class="container">
            {{ document.header|raw }}
        </div>
    </header>
    {% endif %}
    <div class="container">
        {{ document.content|raw }}
    </div>
{% endblock %}